        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Start Bootstrap </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <%= link_to 'Users', users_path, class:'list-group-item list-group-item-action bg-light' %>
                <a href="#" class="list-group-item list-group-item-action bg-light">Category</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Questions</a>

            </div>
        </div>